@model IEnumerable<QuanLyNhaThuocWeb.Models.Thuoc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenThuoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoatChat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangBaoChe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HanSuDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDanhMucNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenThuoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoatChat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangBaoChe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HanSuDung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDanhMucNavigation.MaDanhMuc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaThuoc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaThuoc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaThuoc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
