@model IEnumerable<QuanLyNhaThuocWeb.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayLap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaTaiKhoanNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoDienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaTaiKhoanNavigation.MaTaiKhoan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHoaDon">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHoaDon">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHoaDon">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
